@keyframes slide-top {
    0% {
        transform: translateY(6vw);
    }

    100% {
        transform: translateY(0);
    }
}
.contenedor {
    position:relative;



}
.background {
    grid-column: 1 / 9;
    grid-row: 1 / 7;
    background-image: url("https://static.zerochan.net/Mitake.Ran.full.2665817.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-filter: grayscale(100%) brightness(40%);
    filter: grayscale(100%) brightness(40%);
    background-position-y:9px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(8, [col] 1fr);
    grid-template-rows: repeat(6, [row] 8.22vw);
    font-family: 'Work Sans', sans-serif;
}

.logo {
    margin: 2vw;
    grid-column: 1;
    grid-row: 1;
    color: white;
    font-size: 2vw;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    z-index: 10;
}



.form {
    font-size: 4.4vw;
    grid-column: 1;
    grid-row: 3;
    color: rgb(255, 100, 0);
    text-align: right;
    animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.txt {
    padding-left: 1vw;
    grid-column: col 2 / span 4;
    grid-row: 3 / 6;
    color: rgb(255, 255, 255);
    font-size: 1.8vw;
    animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


.container2 {
    position: relative;
}