:root
{
    --color-primario :#6c3483;
    --color-secundario: #58d68d;
}
body
{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    
}
.formulario {
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,0);
    width: 800px;
    background: whitesmoke;
    border-radius: 10px;
}
.formulario h1 
{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}
.formulario form
{
    padding: 0 40px;
    box-sizing: border-box;
}
form .Username
{
    position: relative;
    border-bottom:  2px solid #adadac;
    margin: 30px 0;
}

.Username input ,textarea
{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.Username label
{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadac;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
    top: -5px;
}
.Username span::before
{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--color-primario);
}
.Username input:focus ~ label,
.Username input:focus ~ label
{
    top: -5px;
    color: var(--color-primario);

}
.Username input:focus ~ span::before,
.Username input:focus ~ span::before
{
    width: 100%;
}

.Recordar 
{
    margin: -5px 0 20px 2px;
    color: blue;
    cursor: pointer;
}
.Recordar:hover
{
    text-decoration: underline;
}
input[type = "submit"]
{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: var(--color-primario);
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
}
input[type = "submit"]:hover
{
    border-color: purple;
    transition: 5s;
}
.registrarse
{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: black;
}
.registrarse a 
{
    color: blue;
    text-decoration: none;
}
.registrarse a :hover
{
    text-decoration: underline;
}