@model FixReportSystem.Models.User
@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link href="/css/Diseños layaout/EstilopaguinaInicio.css" rel="stylesheet" />
    <link href="/css/Diseños layaout/reportHome.css" rel="stylesheet" />
</head>
@*<h1>Bienvenido @ViewBag.DynamicThing</h1>*@

<div class="row mt-5">
    <h1 class="col offset-2 titleh1">Bienvenido @ViewBag.DynamicThing</h1>
</div>

<div class="container1">
        <div class="grid2">
            <div class=form2>
                <div class="par2">
                    <h3>Cuando el profesor pidio maquetar una pagina web con grid layout ¿qué pensaste?</h3>
                    <p>DH: Mi primera reacción fue: “Ya valio... " Este es una muestra de solo html 5 y css
                        para maquetacion web. No quedo igual pero bueno xD. Acompleto con un Lorem xD<br>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur facere maiores sapiente expedita laudantium voluptates commodi repudiandae nesciunt a. 
                    Aspernatur molestiae voluptatum eaque facere facilis? Repellat dignissimos voluptatibus vero voluptates.</p>
                </div>
            </div>
            <div class="form3">
                <div class="text1">
                    <p class="p3">INGENIERÍA EN SISTEMAS</p>
                    <p class="p2">ESTUDIANTE DE</p>
                </div>
                <div class="figure"></div>
                <div class="picture2">
                    <img class="image2" src="https://lh3.googleusercontent.com/a-/AOh14GgVbPcznI0t3-eTFPl87vs0PZ1dSUcB1R8yRts1=s288-p-rw-no" alt="Foto de perfil del usuario">
                </div>
            </div>
        </div>
    </div>

 @*   class="img-fluid rounded-circle mb-3" src="https://lh3.googleusercontent.com/a-/AOh14GgVbPcznI0t3-eTFPl87vs0PZ1dSUcB1R8yRts1=s288-p-rw-no"*@
