@model FixReportSystem.Models.User
@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link href="/css/Diseños layaout/EstilopaguinaInicio.css" rel="stylesheet" />
</head>
<div class="contenedor">
    <div class="grid">
        <div class="background"></div>

        <div class="txt">
            <h1>Bienvenido @ViewBag.DynamicThing</h1>
        </div>

    </div>
</div>
