@model FixReportSystem.Models.User
@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link href="/css/Diseños layaout/EstilopaguinaInicio.css" rel="stylesheet" />
</head>
<div class="contenedor">
    <div class="grid">
        <div class="background"></div>

        <div class="txt">
            <h1>Bienvenido </h1>
        </div>

    </div>
</div>
<div class="container2">
    <div class="grid2">
        <div class="form2">
            <H2>01</H2>
            <div class="title">
                <p class="p">A C E R C A  D E  M I</p>
                <h3>Solo soy un estudianmte normal tratando de salvar el semestre.</h3>
            </div>
            <div class="par">
                <h4>Perfil</h4>
                <p>
                    Este es el segundo diseño de maquetación usando solo html 5 y css, esta pagina no quedo igual
                    a la de referencia pero bueno, este diseño trate de hacerlo responsive no quedo del todo bien pero tampoco esta mal
                    xD. Acompleto con un lorem :v<br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae maiores, reiciendis laboriosam nam odit iure vel nihil officia!
                    Corrupti architecto ea illo commodi ratione natus minima eos unde obcaecati ullam.
                </p>
            </div>
        </div>
        <div class="form3">
            <img class="img" src="https://static.zerochan.net/Mitake.Ran.full.2665817.jpg" alt="Foto de perfil del usuario">
            <div class="bac2"></div>
        </div>
    </div>
</div>
