@model FixReportSystem.Models.User
@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link href="/css/Diseños layaout/EstilopaguinaInicio.css" rel="stylesheet" />
    <link href="/css/Diseños layaout/reportHome.css" rel="stylesheet" />
</head>
@*<h1>Bienvenido @ViewBag.DynamicThing</h1>*@


<div class="row mt-5">
    <h1 class="col offset-2 titleh1">@ViewBag.DynamicThing</h1>
</div>

<div class="container">
    <div class="row">
        <div class="card col-4" style="width: 18rem;">
            <i class="bi-window m-auto text-primary"></i>
            <div class="card-body">
                <h3>Haz tus Reportes</h3>
                <p class="card-text">Por cada reporte mejoramos la escuela!</p>
            </div>
        </div>
        <div class="card col-4" style="width: 18rem;">
            <i class="bi-layers m-auto text-primary"></i>
            <div class="card-body">
                <h3>Ve los cambios</h3>
                <p class="card-text">Tendras que esperar para ver los cambios que acabas de solicitar estos cambios deberan de tardar dependiendo del problema!</p>
            </div>
        </div>
        <div class="card col-4" style="width: 18rem;">
            <i class="bi-terminal m-auto text-primary"></i>
            <div class="card-body">
                <h3>Registrate para empezar</h3>
                <p class="card-text">Para hacer sus reportes tendra que iniciar sesión o registrarse tendra una buena experiencia!</p>
            </div>
        </div>
    </div>
</div>

<div class="container1">
        <div class="grid2">
            <div class=form2>
                <div class="par2">
                    <h3>¿Quienes hacen las reparaciones del equipo dañado?</h3>
                    <p>Los reportes se le notificaran al docente corespondiente para ver que se puede hacer, 
                        el tiempo estimado sera dependiendo de que tan dañado esta el mobiliario !</p><br />

                    <h3>¿En que nos beneficia?</h3>
                    <p>Por cada reporte el tecnologico puede hacer una mejora para los nuevos y viejos estudiantes.!</p><br />

                    <h3>Los estudiantes tendran un mejor entorno.</h3>
                    <p>Es sencillo hacer cada reporte y no tomara mucho tiempo!</p>
                </div>
               
                
            </div>
            <div class="form3">
                <div class="text1">
                    <p class="p3">SOLUCIONA PROBLEMAS!</p>
                    <p class="p2">REPORTA Y</p>
                </div>
                <div class="figure"></div>
                <div class="picture2">
                    <img class="image2" src="https://envato-shoebox-0.imgix.net/89d7/95d9-1de8-4e7e-9ab3-397e85f92c1e/MichalBednarek_ItEngineer_027.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=500&s=c086b1df9a542501c937cf32c9c64589" alt="Hombre reparando xd">
                </div>
            </div>
        </div>
    </div>
    <section class="testimonials text-center bg-light">
            <div class="container">
                <h2 class="mb-5">Equipo Desarrollador...</h2>
                <div class="row">
                    <!--
                    <div class="col-3">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="https://lh3.googleusercontent.com/a-/AOh14GgVbPcznI0t3-eTFPl87vs0PZ1dSUcB1R8yRts1=s288-p-rw-no" alt="Profile picture" />
                            <h5>Jesus Adrian Hobak Martinez</h5>
                            <p class="font-weight-light mb-0">"8°A Ingenieria en sistemas computacionales!"</p>
                        </div>
                    </div>
            -->
                    <div class="col-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="https://lh3.googleusercontent.com/pw/AM-JKLUkzf9ReEvSYRFSIKchLsstEjP_ABCyhLBq_jqJLGs_X5Zw91VZAlykaVSHcgjG0-hX0bMi_ZLSOhWtw2uVBRHfos0-mijmdslTpX5gdc3NRoI2tUNOGwnlvbdnWrSxYpg-c3LIODfgm4L_RDdCWus=w1052-h947-no" alt="Profile picture" />
                            <h5>Yasif Joaquin Alcala Can</h5>
                            <p class="font-weight-light mb-0">"7°A Ingenieria en sistemas computacionales!"</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="https://lh3.googleusercontent.com/pw/AM-JKLWbE-D0vN-YFyzmd_e87s_IZyifjxkT-a1Wb-kQQQsFkpd_7FSr0R4F_P7hOMQZsy6Ohwtg5PsjGlVmbDIWBiV1Ycs8X3IbdAusfml_kehnXjRERD-2zciQlww-LRt34En_HW1G1_Wp6stv_0n3utI=s947-no" alt="Profile picture" />
                            <h5>Iverson Gabriel Mex Pech</h5>
                            <p class="font-weight-light mb-0">"7°A Ingenieria en sistemas computacionales!"</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="https://lh3.googleusercontent.com/pw/AM-JKLWeGL-fQthwO5z_Aq9tlne0iyYH6ALsj07hriuS4pkLu6jnh5dqFCcIaCFFD_1UxHjQZFvplimiZClNJgL1Z_zHNocNityMdAYSt4ez2E6jwniKZpCV5mB5mKjZ0C49RaPUNiIU0swCHk8chfCBB6g=w1267-h947-no" alt="Profile picture" />
                            <h5>Jose Sebastian Pool Cervantes</h5>
                            <p class="font-weight-light mb-0">"7°A Ingenieria en sistemas computacionales!"</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

