@model FixReportSystem.Models.User

@{
    ViewData["Title"] = "Signup";
    Layout = "_loginsing";
}


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width-device-width, initial-scale-1.0">
    <link rel="stylesheet" href="/css/Diseños layaout/diesño formularios/estiloformulario.css">
</head>
<hr />
@*<div class="row">
    <div class="col-md-4">
        <form asp-action="Signup">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@



@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

<div class="formulario">
    <h1>Registro</h1>
    <form method="post" asp-action="Signup">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="Username">
            <input type="text" required asp-for="UserName">
            <label asp-for="UserName">Nombre de Usuario</label>
        </div>
        <div class="Username">
            <input type="text" required asp-for="Email">
            <label asp-for="Email">Email</label>
        </div>
        <div class="Username">
            <input type="password" required asp-for="Password">
            <label asp-for="Password">Contraseña</label>
        </div>
        <input type="submit" value="Create">
        <div class="registrarse">
            <a asp-action="Login">Regresar</a>
        </div>
        <br />
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
