<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FixReportSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="/css/Diseños layaout/Estilocabecera.css" rel="stylesheet" />
    <link href="/css/Diseños layaout/footer.css" rel="stylesheet" />
  
</head>
<body>
    <header class="header">
        <div class="header-top">
            <h1 class="header-logo">FixReportSystem</h1>
            <button class="header-btn">=</button>
        </div>
        <nav class="header-menu">
            <ul>
                <li><a asp-area="" asp-controller="Account" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Report" asp-action="ViewList">Reports</a></li>
                <li><a asp-area="" asp-controller="Account" asp-action="Login">Logout</a></li>
            </ul>
        </nav>
    </header>

    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="footer-container">
            <div class="footer-content-container">
                <h3 class="website-logo">Jesus Hobak</h3>
                <span class="footer-info">997 432 23 43</span>
                <span class="footer-info">JesusHobak@JesusHobak.com</span>
            </div>
            <div class="footer-menus">
                <div class="footer-content-container">
                    <span class="menu-title">menu</span>
                     <a asp-area="" asp-controller="Account" asp-action="Index" class="menu-item-footer">Home</a>
                    <a asp-area="" asp-controller="Report" asp-action="ViewList" class="menu-item-footer">Reports</a>
                    <a asp-area="" asp-controller="Account" asp-action="Login" class="menu-item-footer">Logout</a>
                </div>
                <div class="footer-content-container">
                    <span class="menu-title">legal</span>
                    <a href="" class="menu-item-footer">Privacy Policy</a>
                    <a href="" class="menu-item-footer">Cookies</a>
                    <a href="" class="menu-item-footer">Legal Advice</a>
                </div>
            </div>

            <div class="footer-content-container">
                <span class="menu-title">follow us</span>
                <div class="social-container">
                    <a href="" class="social-link"></a>
                    <a href="" class="social-link"></a>
                    <a href="" class="social-link"></a>
                </div>
            </div>
        </div>
        <div class="copyright-container">
            <span class="copyright">Copyright 2022, JesusHobak@JesusHobak.com. All rights reserved.</span>
        </div>
    </footer>
    <script>
        const header_btn = document.querySelector('.header-btn')
        const header_menu = document.querySelector('.header-menu')
        header_btn.addEventListener('click', () => {
            if (header_menu.style.display != 'block') {
                header_menu.style.display = 'block'
                header_btn.innerHTML = 'X'
            } else {
                header_menu.style.display = 'none'
                header_btn.innerHTML = '='
            }
        })
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
